@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));
/* Global CSS Variables for Dynamic Themes */
@theme {
  --color-primary: #3b82f6; /* Blue */
  --color-secondary: #ef4444; /* Red */
  --color-accent: #f59e0b; /* Amber */
  --color-neutral: #3d4451; /* Dark Gray */
}
